:root {
    /* palette */
    --green: #107c10ff;
    --blue: #2d64e6ff;
    --jet: #302b27ff;
    --white: #f5f3f5ff;
    --orange: #ffa400ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--jet);
    /* / */
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}

.container * {
    display: flex;
}

a {
    color: var(--white);
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    padding: 5px 0px;
    /* / */
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: x-large;
}

span.green {
    color: var(--green);
}

span.blue {
    color: var(--blue);
}

.nav-bar {
    height: 8vh;
    padding: 0% 2%;
    /* / */
    background: var(--jet);
    /* / */
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    padding: 0px 15px;
    /* / */
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding: 0px 15px;
}

.main-banner {
    height: 60vh;
    padding: 5vh 5vw;
    /* / */
    background-image: url(../img/the-wticher3-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* / */
    flex-direction: column;
    justify-content: end;
}