:root {
    /* palette */
    --green: #107c10ff;
    --blue: #2d64e6ff;
    --orange: #ffa400ff;
    --white: #f5f3f5ff;
    --jet: #302b27;
    --jet-bg: rgba(48, 43, 39, 0.5);
    /* font sizes */
    --title-size: 24px;
    --text-size: 18px;
    --nav-logo-size: 24px;
    --nav-list-size: 18px;
    /* paddings */
    --nav-items-padding: 15px;
    --text-title-padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* / */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    background: var(--jet);
    /* / */
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--text-size);
}

a {
    color: var(--white);
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    /* texts and titles padding */
    padding-top: var(--text-title-padding);
}

h1,
h2,
h3,
h4 {
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
}

h1 {
    font-size: var(--title-size);
}

span.green {
    color: var(--green);
}

span.blue {
    color: var(--blue);
}

.nav-bar {
    padding: 0vh 5vw;
    height: auto;
    width: 100%;
    position: fixed;
    /* / */
    background: none;
    /* / */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    padding: var(--nav-items-padding);
    /* / */
    font-family: 'Press Start 2P', cursive;
    font-size: var(--nav-logo-size);
}

.nav-bar .nav-list {
    list-style-type: none;
    /* / */
    display: flex;
}

.nav-bar .nav-list li a {
    padding: calc(var(--nav-logo-size) + var(--nav-items-padding) - var(--nav-list-size)) 15px;
    /* / */
    font-size: var(--nav-list-size);
}

.nav-bar .nav-list li a:hover {
    background-color: var(--white);
}

.main-banner {
    height: 60vh;
    padding: 5vh 5vw;
    /* / */
    background-image: url(../img/the-wticher3-banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* / */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.main-banner .banner-text {
    padding: 0vh 2vw;
    /* / */
    background-color: var(--jet-bg);
    /* / */
    text-align: center;
    text-shadow: 2px 2px var(--jet);
}